.table_title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #523d15;
    font-family: Tahoma, sans-serif;
}

table {
  display: flex;
  justify-content: center;
  width: 75%;
  border-collapse: collapse;
  margin: 1rem auto 3rem;
  color: #523d15;
}

td {
  padding: 0.9em 2rem;
  text-align: center;
  border: 2px solid #939393;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
    border: 2px solid #e2e2e2;
  }
}